:root{
  --color1: #2c3840;
  --color2: #FFF3F5;
  --color3: #8EADBC;
  --color4: #EFCCD0;
  --color5: #A27A7F;
}

body{
  background-color: rgba(248, 214, 220, 0.4);
  background-image: url(../assets/background-1.3.jpg);
  background-repeat: no-repeat;
  background-position: 50% 20%; 
}



/* ========== Navigation Bar ========== */
.top-bar {
  width: 100%;
  z-index: 10;
  transition: height .25s ease;
  height: 4.5em;
  background-color: var(--color5);
  color: var(--color2);
}

.top-bar .top-bar-left .title-bar-title{
  transition: font-size .25s ease;
  font-size: 1.7rem;
}

.top-bar .top-bar-right, 
.top-bar .top-bar-left {
  transition: padding-top .25s ease;
  padding-top: 1.4em;
  transition: padding-bottom .25s ease;
  padding-bottom: .4em;

}
.top-bar.shrink {
  height: 3em;
}

.top-bar.shrink .top-bar-right, 
.top-bar.shrink .top-bar-left {
  padding-top: 0em;
  padding-bottom: 0em;
}

.top-bar.shrink .top-bar-left .title-bar-title{
  font-size: 1.2rem;
}

.top-bar ul, .top-bar .dropdown.menu .is-dropdown-submenu {
  border: none;
  background-color: var(--color5);
}

.top-bar .top-bar-right ul a, .top-bar .top-bar-right ul .is-dropdown-submenu-parent a::after{
  color: var(--color2);
  border-color: var(--color2) transparent transparent !important;
}


.top-bar .top-bar-left .title-bar-title, .top-bar .top-bar-left{
  height: 100%;
  padding-top: .1em;
}

.top-bar .top-bar-left img{
  height: 100%;
  padding-right: 1em;
  padding-left: .5em;
}

/* =^^^^^^^^= Navigation Bar =^^^^^^^^= */




/* ========== Orbit ========== */
  .orbit-image{
    max-height: 55vh;
  }
/* =^^^^^^^^= Orbit =^^^^^^^^= */



/* ========== Main Image ========== */
.mainImg{
  background-image: url(../assets/IMG_5670.jpg);
  height: 65vh;;
  opacity: 0.95;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 2.5rem;
}

/* =^^^^^^^^= Main Image =^^^^^^^^= */



/* ========== Menu Items ========== */
.menuItems {
  margin-bottom: 2rem;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 2px solid rgba(197, 185, 185, 0.795);
  padding: 0px;
  

}

.menuItems .menuItem{
  border: 0px solid #000000;
  min-height: 15rem;
  background-repeat: no-repeat;
  background-position: center; 
  padding: 0px;
}

.menuItems1 .menuItem:nth-child(1){
  background-image: url("../assets/menu images/IMG_19951.jpg");
}

.menuItems1 .menuItem:nth-child(2){
  background-image: url("../assets/menu images/IMG_38401.jpg");
}
.menuItems1 .menuItem:nth-child(3){
  background-image: url("../assets/menu images/IMG_5654.jpg");
}

.menuItems2 .menuItem:nth-child(1){
  background-image: url("../assets/menu images/IMG_6182.jpg");
  
}

.menuItems2 .menuItem:nth-child(2){
  background-image: url("../assets/menu images/IMG_6474.jpg");
}
.menuItems2 .menuItem:nth-child(3){
  background-image: url("../assets/menu images/IMG_8730.jpg");
}

/* =^^^^^^^^= Menu Items =^^^^^^^^= */



/* ========== Testimonials ========== */

.testimonials .callout{
  background-color: rgba(239, 204, 208, .7);
  border-color: transparent;

}

.testimonials .reviews{
  /* height: 225px; */
}

.testimonials .reviews .prof{
  /* outline: 1px solid red; */
}

/* =^^^^^^^^= Testimonials =^^^^^^^^= */
